@{
    ViewData["Title"] = "Add/Edit a Task";
}

@model Project6.Models.TaskInputModel

<h1>Fill out the form to add/edit a task</h1><br />

<div>
    <form method="post" class="border">
        <br />
        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due date:</label>
        <input asp-for="DueDate" /><br />

        <label asp-for="QuadrantId">Quadrant:</label>
        <select asp-for="QuadrantId">
            <option selected value=""></option>
            @foreach (Quadrant q in ViewBag.Quadrants)
            {
            <option value="@q.QuadrantId">@q.QuadrantName</option>
            }
        </select><br />

        <label asp-for="Category">Category:</label>
            <select asp-for="CategoryId">
                <option selected value=""></option>
                @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
            </select>

                <label asp-for="Completed"></label>
            <select asp-for="Completed">
                <option value="true">Yes</option>
                <option selected value="false">No</option>
            </select><br />

            <button type="submit">Add Task</button>
    </form>
</div>