@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h3>Need help with time management?</h3>
    <h4>We may be able to help!</h4>
    
</div>
<body>
    <p>Life gets busy. However, Stephen Covey has given us a great way to increase our producivity by working on time management.</p>
    <p>He created the "Time Management Matrix"</p>
    <p>This breaks tasks into 4 quadrants:</p>
    <ul>
        <li>Quadrant I: Important/Urgent</li>
        <li>Quadrant II: Important/Not Urgent</li>
        <li>Quadrant III: Not Important/Urgent</li>
        <li>Quadrant IV: Not Important/Not Urgent</li>
    </ul>
    <p>Click the link above to add tasks that have been completed or still to be completed.</p>
</body>

