@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Put First Things First</h1>
</div>

<div class="container">
        <div class="row text-space">
        <div class="col-6 text-right">
            <img src="~/img/EisenhowerMatrix.jpg" width="500" />
        </div>
        <div class="col-6 text-left">
            <br />
            <h2 class="text-center">The Eisenhower Matrix</h2>
            <br />
            <p class=" text-center">"What is important is seldom urgent and what is urgent is seldom important."</p>
            <p class="text-center"> -- President Eisenhower</p>
            <br /><br />
            <h2 class="text-center">Create Your Own:</h2><br />
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center text-dark btn-light" asp-controller="Home" asp-action="AddTask">Add/Edit Task</a>
                </div>
                <div class="col">
                    <a class="nav-link text-center text-dark btn-light" asp-area="" asp-controller="Home" asp-action="Quadrant">My Matrix</a>
                </div>

                
            </div>
        </div>
    </div>
    <br />
    <div class="row text-center text-space">
        <h2 class="col text-center"> Learn more about the Eisenhower Matrix:</h2><br />
    </div>
    <div class="row">
        <div class="col text-center text-space">
            <iframe width="580" height="326" src="https://www.youtube.com/embed/tT89OZ7TNwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
        
